@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url("font/Inter-UI-Regular.woff2?v=2.5") format("woff2"), url("font/Inter-UI-Regular.woff?v=2.5") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: italic;
    font-weight: 400;
    src: url("font/Inter-UI-Italic.woff2?v=2.5") format("woff2"), url("font/Inter-UI-Italic.woff?v=2.5") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 500;
    src: url("font/Inter-UI-Medium.woff2?v=2.5") format("woff2"), url("font/Inter-UI-Medium.woff?v=2.5") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: italic;
    font-weight: 500;
    src: url("font/Inter-UI-MediumItalic.woff2?v=2.5") format("woff2"), url("font/Inter-UI-MediumItalic.woff?v=2.5") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url("font/Inter-UI-Bold.woff2?v=2.5") format("woff2"), url("font/Inter-UI-Bold.woff?v=2.5") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: italic;
    font-weight: 700;
    src: url("font/Inter-UI-BoldItalic.woff2?v=2.5") format("woff2"), url("font/Inter-UI-BoldItalic.woff?v=2.5") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 900;
    src: url("font/Inter-UI-Black.woff2?v=2.5") format("woff2"), url("font/Inter-UI-Black.woff?v=2.5") format("woff");
}

@font-face {
    font-family: 'Inter UI';
    font-style: italic;
    font-weight: 900;
    src: url("font/Inter-UI-BlackItalic.woff2?v=2.5") format("woff2"), url("font/Inter-UI-BlackItalic.woff?v=2.5") format("woff");
}

body,
html {
    height: 100%;
    width: 100%;
    color: #99a9de;
    letter-spacing: 8px;
    font-size: 24px;
    font-family: 'Inter UI', sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #2C3A63;
    text-align: center;
    margin: 0;
    padding: 0;
}

#logo {
    position: relative;
    margin-top: 10%;
    width: 100%;
    max-width: 600px;
    max-height: 80%;
}